@font-face {
  font-family: "hor-icon"; /* Project id 3507722 */
  src: url('iconfont.woff2?t=1657269293995') format('woff2'),
       url('iconfont.woff?t=1657269293995') format('woff'),
       url('iconfont.ttf?t=1657269293995') format('truetype');
}

.hor-icon {
  position: relative;
  display: inline-block;
  font: normal normal normal 14px/1 'hor-icon';
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;

  &:before {
    display: inline-block;
  }
}

.hor-icon-keyboard:before {
  content: "\e630";
}

.hor-icon-cell-group:before {
  content: "\e7cf";
}

.hor-icon-cell:before {
  content: "\e7d0";
}

