
:root{
    // Component Colors
    --hor-primary-color: #0095d9;
    --hor-success-color: #67C23A;
    --hor-danger-color: #fc3939;
    --hor-warning-color: #ff9523;
    --hor-info-color: #969799;
    --hor-text-color: #323233;
    --hor-active-color: #f2f3f5;
    --hor-background-color: #f2f3f4;
    --hor-background-color-light: #fff;
    --hor-text-link-color: #576b95;

    // Border
    --hor-border-color: #dcdee0;

    // as-view
    --hor-view-nav-bar-background-color: #fff;
    --hor-view-nav-bar-text-color: #333;
}
